<div>
  <app-profile-section title="{{ 'LANGUAGES.TITLE' | translate }}" />
  <div class="gap-8 sm:grid sm:grid-cols-2 mt-2">
    <div>
      <dl>
        <dt class="text-sm font-medium text-ghost">
          {{ 'LANGUAGES.PORTUGUESE' | translate }}
        </dt>
        <dd class="flex items-center mb-3">
          <div class="w-full bg-gray-200 rounded h-2.5 mr-2">
            <div class="bg-accent h-2.5 rounded" style="width: 100%"></div>
          </div>
          <span class="text-sm font-medium text-ghost">10</span>
        </dd>
      </dl>
      <dl>
        <dt class="text-sm font-medium text-ghost">
          {{ 'LANGUAGES.ENGLISH' | translate }}
        </dt>
        <dd class="flex items-center mb-3">
          <div class="w-full bg-gray-200 rounded h-2.5 mr-2">
            <div class="bg-accent h-2.5 rounded" style="width: 70%"></div>
          </div>
          <span class="text-sm font-medium text-ghost">7</span>
        </dd>
      </dl>
    </div>
  </div>
</div>
