<section>
  <app-profile-section title="{{ 'WORK.TITLE' | translate }}" />
  <ol class="relative border-l border-accent mt-2">
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-accent rounded-full mt-1.5 -left-1.5 border border-white"
      ></div>
      <time class="mb-1 text-sm font-normal leading-none text-secondary"
        >{{ 'MONTHS.NOVEMBER' | translate }} 2022 -
        {{ 'OTHERS.PRESENT' | translate }}</time
      >
      <h3 class="text-lg font-semibold text-primary">Capgemini Brasil</h3>
      <p class="mb-4 text-base font-normal text-secondary">
        <span class="block text-sm font-bold mb-1">{{
          'EXPERIENCES.CAPGEMINI.RESPONSABILITY' | translate
        }}</span>
        {{ 'EXPERIENCES.CAPGEMINI.DESCRIPTION' | translate }}
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -left-1.5 border border-white"
      ></div>
      <time class="mb-1 text-sm font-normal leading-none text-secondary"
        >{{ 'MONTHS.JUNE' | translate }} 2021 -
        {{ 'MONTHS.NOVEMBER' | translate }} 2022</time
      >
      <h3 class="text-lg font-semibold text-primary">Konvix Tecnologia</h3>
      <p class="mb-4 text-base font-normal text-secondary">
        <span class="block text-sm font-bold mb-1">{{
          'EXPERIENCES.CAPGEMINI.RESPONSABILITY' | translate
        }}</span>
        {{ 'EXPERIENCES.CAPGEMINI.DESCRIPTION' | translate }}
      </p>
    </li>

    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -left-1.5 border border-white"
      ></div>
      <time class="mb-1 text-sm font-normal leading-none text-secondary"
        >{{ 'MONTHS.JANUARY' | translate }} 2019 -
        {{ 'MONTHS.JUNE' | translate }} 2021</time
      >
      <h3 class="text-lg font-semibold text-primary">
        Midori Auto Leather Brasil
      </h3>
      <p class="mb-4 text-base font-normal text-secondary">
        <span class="block text-sm font-bold mb-1">{{
          'EXPERIENCES.MIDORI.RESPONSABILITY' | translate
        }}</span>
        {{ 'EXPERIENCES.MIDORI.DESCRIPTION' | translate }}
      </p>
    </li>

    <li class="ml-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -left-1.5 border border-white"
      ></div>
      <time class="mb-1 text-sm font-normal leading-none text-secondary"
        >{{ 'MONTHS.JANUARY' | translate }} 2014 -
        {{ 'MONTHS.JANUARY' | translate }} 2019</time
      >
      <h3 class="text-lg font-semibold text-primary">Intersolid Software</h3>
      <p class="mb-4 text-base font-normal text-secondary">
        <span class="block text-sm font-bold mb-1">{{
          'EXPERIENCES.INTERSOLID.RESPONSABILITY' | translate
        }}</span>
        {{ 'EXPERIENCES.INTERSOLID.DESCRIPTION' | translate }}
      </p>
    </li>
  </ol>
</section>
